.container {
    margin: 0 5rem;
}



.booktitle {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    flex-shrink: 0;
    margin: 0 5rem;


}

.booktitle>span:nth-child(1) {
    flex-direction: column;
    color: rgb(255, 170, 0);
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.booktitle>span:nth-child(2) {


    font-size: 2.5rem;
}

.formmenu {
    margin: 0 8rem;
}

.formmenu>form {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



}

::placeholder,
select,
input[type=Date],
[type=time],
select {
    color: rgb(88, 87, 87);
    font-size: 1.2rem;

}


input[type=text],
[type=email],
[type=number],
[type=date],
[type=time] {
    display: flex;
    padding: 1rem;
    width: 20vw;
    font-size: 1.2rem;
}

select {
    padding: 1rem;
    width: 26rem;
}

input[type=textarea] {
    padding: 1rem;
    width: 45.5vw;
    font-size: 1.2rem;

}











@media only screen and (max-width:1500px) {
    select {
        padding: 1rem;
        width: 22.5vw;
    }
}



@media only screen and (max-width:1364px) {
    .formmenu {
        margin: 0 2rem;
    }

    .formmenu>form {
        gap: 2rem;
    }

    input[type=text],
    [type=email],
    [type=number],
    [type=date],
    [type=time] {
        display: flex;
        padding: 1rem;
        width: 25vw;
        font-size: 1.2rem;
    }

    select {
        padding: 1rem;
        width: 28vw;
    }

    input[type=textarea] {
        width: 55vw;
    }
}

@media only screen and (max-width:990px) {
   
    .booktitle>span:nth-child(1) {
     
        font-size: 2.5rem;
       
    }
    .booktitle>span:nth-child(2) {
     
        font-size: 1.5rem;
       
    }
    .formmenu {
        margin: 0 1rem;
    }




}

@media only screen and (max-width:990px) {
    .formmenu {
        margin: 0 3rem;
    }

    input[type=text],
    [type=email],
    [type=number],
    [type=date],
    [type=time] {

        width: 100%;
    }

    select,
    input[type=textarea] {
        padding: 1rem;
        width: 100%;
    }


}

@media only  screen and (max-width:550px) {
    .booktitle{
        padding: 0.5rem;
    }
    
    .booktitle>span:nth-child(1) {
     
        font-size: 1.5rem;
       
    }
    
    .booktitle>span:nth-child(2) {
     
        font-size: 1.5rem;
       
    }
    
}

@media only  screen and (max-width:390px) {
    .booktitle{
        padding: 0.8rem;
    }
    
    .booktitle>span:nth-child(1) {
     
        font-size: 1rem;
       
    }
    
    .booktitle>span:nth-child(2) {
     
display: none;       
    }
    
}